/* General Styles */
@media (min-width: 800px) and (max-width: 1100px) {
    .Cont {
        width: 450px;
    }

    .titulo {
        font-size: 22px;
    }

    .Text {
        text-align: justify;
        font-size: 20px;
        margin: 30px auto;
        height: auto;
        max-width: 500px;
    }

    
    #espacio{
        margin-bottom: 200px;
    }
    

    #mensaje{
        font-size: 14px;
        color: black;
        width: 210px;
    }
}

#espacio{
    margin-bottom: 200px;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

input{
    text-align: center;
}

.imgDPCL {
    min-width: 20px;
    max-width: 60px;
    width: 100%;
    height: auto;
    margin-right: 5px;
    height: 100%;
}

body {
    font-family: "Heebo", sans-serif;
    background-color: #eccdee;
    text-align: justify;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Navigation Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b081db;
    padding: 10px;
    overflow-x: hidden;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding: 0;
    
}

ul li {
    margin: clamp(5px, 10px, 20px);
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: clamp(12px, 14px, 18px);
    padding: 0;
}

ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

@media (max-width: 800px) {
    .imgDPCL {
        width: 40px;
        height: auto;
        padding: 0;
    }

    ul li {
        margin: 4px; /* Reduce los márgenes en pantallas pequeñas */
        padding: 0;
    }

    ul li a {
        font-size: 12px; /* Reduce el tamaño del texto en pantallas pequeñas */
        padding: 0;
    }
}

/* Container Styles */

.titulo {
    margin-top: 100px;
    margin-bottom: 0;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}

.Text {
    margin-top: 50px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    
}

.Cont {
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 250px;
    height: auto;
    display: flex;
    justify-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

@media (max-width: 800px) {
    .Cont {
        width: 350px;
    }

    .titulo {
        font-size: 18px;
    }

    .Text {
        text-align: justify;
        font-size: 16px;
        margin: 30px auto;
        height: auto;
        max-width: 400px;
    }

    #espacio{
        margin-bottom: 200px;
    }
}



.imagen {
    display: flex;
    justify-content: center;
    
    width: 50%;
    height: auto;
    margin: 50px auto 0;
}

#link {
    display: flex;
    margin: 0 auto;

}

@media (max-width: 1000px) {
    #link {
        max-width: 95%;
    }

}



#resolucion {
    font-size: 24px;
    display: flex;
    justify-content: center;
    
}

.resultado {
    font-size: 1.2em;
    color: green;
}
.incorrecto {
    color: red;
}

.incorrectojeje {
    color: #e67e22;
}

#contMensaje{
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

#mensaje {
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
}

#mensaje2 {
    text-align: center;
    display: flex;
    justify-content: center;
}

footer {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Heebo", sans-serif;
    background-color: #d2a5d6;
    height: 110px;
    width: 100%;
    
    padding: 0;
}




@media(prefers-color-scheme: dark){
    body {
        background-color: #312531;
        color: white;
    }

    nav {
        background-color: #17111d;
    }

    footer {
        background-color: #17111d;
    }

    .info{
        color: white;
    }

}



#No {
    margin-left: 25px;
}




.enlaceTema {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    color: white;
}

.enlacePrimos {
    color: white;
    text-decoration: underline;
}

.instruccion {
    display: flex;
    justify-content: center;
    text-align: center;
}

.correcto {
    background-color: #60d460;

    color: white;
}

.pastel {
    display: flex;
    margin: 30px auto;
}

.BIEN{
    color: rgb(96, 212, 96);
}

.centro{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}


.imagenes {
    
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.Actividades {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 500px;
}

@media (max-width: 800px){
    .imagenes{
        margin-top: 10px;
    }

    .Actividades{
        flex-direction: column;
    }
}

.parte-abajo{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.der{
    margin-left: 10px;
}

.parte-arriba{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.column{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#problem{
    display: none;
}

#disAnswer{
    display: none;
}

#menu{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 700px;
    flex-direction: column;
    align-items: center;
}

.menuGrande{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center

}

#nota,#notaGuardada{
    margin-top: 20px;
    width: 300px;
    justify-content: center;
}

#guardarNota{
    margin-top: 20px;
    width: 120px;
}

@media (max-width: 800px){
    #menu{
        width: 400px;
    }

    #nota,#notaGuardada{
        width: 200px;
    }
}






@media (max-width: 800px){
    .Cont{
        margin-bottom: 500px;
    }

    .abajo{
        margin-bottom: 500px;
    }

    
    #contenedor{
        margin-top: 0px;
    }

    #feliz{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

button{
    color: black;
}
